body{
	color: #FFA500;
}
#editkundemiddle{
	margin-left: 20%;
	margin-top: 10%;
}

#popup{display:none;position:absolute;left:10%,top:10%}

.list{
	border: 0px;
	background-color: transparent;
/*	color: grey;*/
}

.login{
	position:absolute;
	top: 30%;
	/*border:1px solid red;*/
	left:35%;right:40%;
	margin-top: 30px;
}


table tr td{
	text-align:center;
}


.input-group{
	width:250px;
	min-width:250px;
}
.input-group input{
	min-width:200px;
}

div.menuetop {
	position:absolute;
	width:100%;
    border: 1px solid #e7e7e7;
    background-color: #FFA500;
	height:60px;
}
.menuetop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menuetop li {
    float: right;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuetop li a:hover:not(.active) {
    background-color: #EB9100;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-body {
    position: absolute;
    top: 120px;
	left: 150px;
}

#main-body table tr:nth-child(even){
	background-color:#FFA500;
}

#main-body table tr td{
	padding-left:5px;

}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

